* {
    box-sizing: border-box;
}
#section2 h1{
    transition: 1s;
}
#section2 h1:hover{
    transform: scale(1.2);
}
.one{
    text-align: center;
    opacity: 0.1;
    margin-top: 50px;
    transition: 1s;

}
.one:hover{
transform: scale(1.3);
    transition: 1s;
}
#space{
    margin-bottom: 50px;
}
/* Setting the year color */
.timeline h2{
    font-family: "Poppins", sans-serif;
    font-size: auto;
    text-transform: uppercase;
    text-align: left;
    background: linear-gradient(
        to right,
        #fc72ff,
        #8f68ff,
        #487bff,
        #8f68ff,
        #fc72ff
    );
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate-gradient 2.5s linear infinite;
}

@keyframes animate-gradient {
    to {
        background-position: 200%;
    }
}

/* adding gradient to the boxes border */
@property --angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}
.timeline .content::after, .timeline .content::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: conic-gradient(from var(--angle), #ff4545, #00ff99, #006aff, #ff0095, #ff4545);
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 3px;
    border-radius: 10px;
    animation: 3s spin linear infinite;
}
.timeline .content::before{
    filter: blur(1.5rem);
    opacity: 0.5;
}

/* keyframe for border */
@keyframes spin{
    from{
        --angle: 0deg;
    }
    to{
        --angle: 360deg;
    }
}

/* Set a background color */
body {
    background-color: rgb(0, 0, 33);
    font-family: poppins, sans-serif;
    background-color: #D2D2D2;
    font-family: Poppins;
    background-image:
        repeating-linear-gradient(
            to right, transparent 0 100px,
            #25283b22 100px 101px
        ),
        repeating-linear-gradient(
            to bottom, transparent 0 100px,
            #25283b22 100px 101px
        );
}

/* The actual timeline (the vertical ruler) */
.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: lavender;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

/* Container around content */
.container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
    transition: 1s;
}

/* The circles on the timeline */
.container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: lavender;
    border: 4px solid #4e5de7;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

/* Place the container to the left */
.left {
    left: 0;
}

/* Place the container to the right */
.right {
    left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
}

/* Add arrows to the right container (pointing left) */
.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
    left: -16px;
}

/* The actual content */
.timeline .content {
    padding: 20px 30px;
    background-color: #EFEFEF;
    position: relative;
    border-radius: 6px;


}

/* designing the final button div */
.next{
    margin: 0 auto;
    background: black;
    text-align: center;
    border-radius: 10px;
    position: relative;
    margin-top: 6%;
    width: 1120px;
    margin-bottom: 80px;
    transition: 1s;

}

@property --angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}
.next::after, .next::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: conic-gradient(from var(--angle), #ff4545, #00ff99, #006aff, #ff0095, #ff4545);
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 3px;
    border-radius: 10px;
    animation: 3s spin linear infinite;
}
.next::before{
    filter: blur(1.5rem);
    opacity: 0.5;
}
.next button{
    background-color: lavendor;
    width: 100%;
    color: black;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    padding: 10px ;
    font-family: poppins;
    font-size: 1rem;
}



/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
    .next{
        width: 480px;
    }
    /* Place the timelime to the left */
    .timeline::after {
        left: 31px;
    }

    /* Full-width containers */
    .container {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }

    /* Make sure that all arrows are pointing leftwards */
    .container::before {
        left: 60px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent white transparent transparent;
    }

    /* Make sure all circles are at the same spot */
    .left::after, .right::after {
        left: 15px;
    }

    /* Make all right containers behave like the left ones */
    .right {
        left: 0%;
    }
}

.container:hover{
    transform: scale(1.1);
    transition: 1s;
}

.next:hover{
    transform: scale(1.1);
    transition: 1s;
}

